<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/OneUITheme">
        <activity
            android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".WallpapersStyles"
            android:label="Wallpapers And Styles" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".Wallpapers"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".GeneralActivity" />
        <activity android:name=".AppsActivity" />
        <activity android:name=".PermissionActivity" />
        <activity android:name=".AdvancedActivity" />
        <activity android:name=".PhoneInfo" />
        <activity android:name=".BatteryActivity" />
        <activity android:name=".SoftwareActivity"/>
        <activity android:name="com.android.internal.app.PLATLOGOACTIVITY" />
    </application>
</manifest>
